
/* header */
header {
    background-color: #6857DD;
    
}

.logo {
    width: 60px;
    height: 60px;
}

nav {
    text-align: center;
}

a {
    display: inline-flex;
    color: white;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    align-items: center;
}

#button {
    background-color:  #F25A70;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    
}

#button:hover {
    background-color: darkblue;
}

.nav-item::before {
    content: '';
    background-color: #F25A70;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    
    
}




